@import url('responsive-table.css');

div#PageFooterBar1 {
    display: block!important;
}


:root {
  --my-8: url("images/1.jpg")!important;
  --my-shadow: 3px 3px 10px green;
  --my-border: 1px solid #222222;
}

.PageContentmosso {
    margin-bottom: 10px;
    display:flex;
}
.RadSiteMap .rsmFlow {
   
    display: -webkit-box;
}

table.DataView {
    margin-top: 10px;
    overflow-x: auto;
    max-width: stretch;
    min-width: stretch;
}

div.DataViewContainer {
    /*overflow-x: auto;*/
}

div.RowContainer {
    /*overflow-x: auto;*/
}
  
div#PageHeader {
    background-image: none;
   
    background-color: #1a1a1a;
}

div.PageMenuBarmosso {
    font-size: 20px !important;
    font-weight: bold !important;
    height: 45px !important;
    list-style: none;
    display: block;
    background: #014464;
    background: -moz-linear-gradient(top, #0272a7, #013953);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#369a9a), to(#006a6a));
    border: 1px solid #000d2f;
    -moz-box-shadow: inset 0px 0px 1px #edf9ff;
    -webkit-box-shadow: inset 0px 0px 1px #edf9ff;
    box-shadow: inset 0px 0px 1px #edf9ff;
}

@media screen and (max-width: 600px) {
    .PageMenuBar {
        display: table-column;
        height: 65px;
        min-height: 65px !important;
    }

    .navbar-fixed-left1 {
        display: inline-block;
    }

    .MembershipBarPlaceholder {
        display: block !important;
    }
}


div.PageMenuBar {
    margin-bottom: 5px;
    overflow-x: auto;
    
}


.fullscreen_bgqlogin {
    top: 0;
    background-size: cover !important;
    background-position: center !important;
    background-image: var( --my-8);
    background-repeat: no-repeat !important;
    width: 100%;
    min-height: 1100px;
}

.fullscreen_bgq{
    top : 0 ;
    background-size: 100% 100% !important;
    background-position: center !important;
    background-image: var( --my-8);
    background-repeat: no-repeat !important;
    width: 100%;
   
	min-height:1100px;
}

.buttonhomeimage {
    border: none;
    outline: 0;
    display: block;
    padding: 2px;
    color: white;
    background-color: #42abba;
    text-align: center;
    cursor: pointer;
    min-width: inherit;
    margin-top: 20px;
	min-height: inherit;
    
}
.buttonhomeimage1 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 2px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 400px;
 
    
}
.buttonhomeimage:hover, a:hover {
    opacity: 0.7;
}
.cardhomeimage
{
	 padding: 2px;
	background-color:white;
	max-width : 165px !important;
	min-width : 164px !important;
	transition: transform .7s;
	box-shadow: 0 4px 8px 0 rgba(20, 250, 90, 0.2);
	min-height:190px;
	max-height:191px;
	margin: auto;
    text-align: center;
	 margin-top: 20px;
}
.cardhomeimage:hover{

   transform: scale(1.08)

	
}

#forget-Password
{
    background: none;
    color: #00e3ff;
    font-weight: bold !important;
    font-size: 1.8rem !important;
    border: none;
}
.panel-body{
padding : 5px;
}
.panel-login {
    box-shadow: none;
    background: rgba(0,0,0,0.4) !important;
    border-radius: 2rem 2rem 0 0;
}
 .panel-login>.panel-heading {
    text-align: center;
    background: none !important;
}
.panel-body {
    border-radius: 0 0 2rem 2rem !important;
}
.panel-success{

    background: none !important;

}
.panel-login .panel-success>.panel-heading{
    color: #fff;
    border : none !important ;
    padding: 1rem 0;
}
.panel-login .panel-success>.panel-heading .info-box-number{

    font-style: normal;
    border : none !important;
    padding : 1rem 0 ;
}
.panel-login .panel-body .form-control{

    background: #FFF;
    border: none !important;
    padding: 1rem !important;
    color : #4e656e;
}
.panel-login .panel-body .btn.btn-primary{

    border: none;
}

 .panel-heading .btn.btn-primary.btn-lg{
	background: none;
    border: none;
}


/*------- start text overflow 
---------------------------------*/
.RadSiteMap .rsmTemplate {
    padding: 4px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* display: none; */
}
.imageWrappermehome
{
margin  : auto  !important  ;
}
a:hover{opacity:1;}


.SearchBarCell {

    background: none  ;
    padding: 2rem 1rem;
    background: #4e656e;
}

table.DataView tr.ActionRow td.ActionBar table.Groups tr td.QuickFind div.QuickFind {
    background-color: White;
    border: solid 1px silver;
    padding: 1px 1px 2px 5px;
    margin-top: 0;
    height: 23px;
}


table.SearchBarFrame tr td.Control select,
table.SearchBarFrame tr td input.Number{
    height: 39px!important;
    min-width: 245px!important;
	max-width: 245px!important;
    padding: 0.2rem;
    color: #4e656e;
    margin-bottom: 10px;
    margin-right : 10px ;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}
table.SearchBarFrame tr td input.Text.AutoComplete
{
	height: 19px!important;
    min-width: 245px!important;
	max-width: 245px!important;
    
}
.AutoCompleteFrame table {
    margin-right: 10px;
}
.SearchBarCell div.SearchButtons
{
	height: auto !important;
    display: flex;
    flex-direction: column;
}

input {
    /* border-style: inset !important; */
    /* border-color: inherit !important; */
    border-width: -2px !important;
    /* padding: 1px !important; */
    border-radius: 15px!important;
    height:25px!important: ;
    font-size: 14px!important;
    margin: 10px!important;
	
}
#PageContent button:not(.ui-button)
 {
    padding: 1.5rem;
    background: #177e7e;
    text-align: center;
    height: auto !important;
    margin : 10px ;
    outline: 0;
    border-radius: 3rem !important;
	box-shadow: -1px 2px 10px rgba(0,0,0,0.3);
	min-width: 180px!important;
}
#PageContent button:not(.ui-button):hover
{
	box-shadow: none !important ;
}

#PageContent button:not(.ui-button).Search::after
{
	
    content: "\f002" !important;
    font-weight: 900 !important;
    
    transition: 0.3s linear;
    display: inline-block;
    margin-left : 1rem ;
}




#PageContent button:not(.ui-button).Reset::after
{
	font-family: "Font Awesome 5 Free Brands", "Font Awesome 5 Free Solid", "Font Awesome 5 Free",'Font Awesome\ 5 Free' !important;
      font-weight: 900!important;
     color: #fff !important;
    content: "\f51a" !important; 
    font-weight: 900 !important;
    color: #fff !important;
    transition: 0.3s linear;
    
    margin-left : 1rem ;
	
  

}

/*--- start table 
----------------------*/
/* ----- start customers page  

display: flex !important ; hashd by mostafa
---------------------------------*/

table.DataView tr.HeaderRow th a {
    /*color: #000000!important;*/
    /*text-decoration: none;*/
}

table.DataView tr.Row td.acdcode1, table.DataView tr.AlternatingRow td.acdcode1
{
    /*max-width: 5px !important;*/
    /*text-align: center;*/
    /*background-color: #FF0066;*/
}
table.DataView tr td.Cell.ActionColumn {
    /*white-space: nowrap;*/
    /*padding-right: 0;*/
	/*background-repeat: repeat-x;*/
    /*background-image: url(SettingsGraphic.jpg);*/
	
}
table.DataView tr td, table.DataViewLookup tr td {
    
	font-family: Verdana!important;
    font-size: 12pt!important;
    font-weight: bold!important;
  
}
th.FieldHeaderSelector {
    


	font-family: Verdana!important;
    font-size: 11pt!important;
    font-weight: bold!important;
  
   
   
   
    text-align: center!important;
	 /*color: #000000!important;*/
}

td.Cell.Toggle.First
{
max-width:15px!important;	
}
th.Toggle.First
{
max-width:15px!important;	
}




table.DataView tr.AggregateRow td.Aggregate
{
    background-color: #FFFF00!important;
    border-top-color: silver!important;
    color: #696969!important;
    font-weight: bold!important; 
    background-repeat: repeat-x!important;
    background-image: url(SettingsGraphic.jpg)!important;
}



table.DataView tr.HeaderRow th
{
 background-color:  #1c8383!important; 
  color: Black;
  font-family: Verdana;
  font-size: 12pt;
 font-weight: bold;
 text-align: left;
 padding: 3px;
 vertical-align: middle;
}
table.DataView tr.CategoryRow td.CategoryColumn
{
	
}

@media (max-width : 992px)
{
    table.DataView tr.CategoryRow td.CategoryColumn
    {
       flex-direction: column;
	   display: flex !important ; 
    }

}

@media (max-width : 460px)
{
    table.DataView tr.CategoryRow td.CategoryColumn
    {
       
	   display: flex !important ; 
    }

}


th.FieldHeaderSelector {
    border-right: solid 1px #eee!important;
    font-size: 14px!important;
    font-weight: Bold!important;
    padding: 0rem 4rem!important;
    background: #000;
    border: none !important;
}
table.DataView tr.HeaderRow th.ActionColumn {
    color: #fff;
    font-size: 1.8rem !important;
}
table.DataView tr.HeaderRow th.ActionColumn::after {
	content: "\f063" !important;
   
    
    font-weight: 900 !important;
    color: #fff !important;
    transition: 0.3s linear;
    display: inline-block;
    margin-left : 1rem ;
}
table.DataView tr.HeaderRow th a {
    color: #ffffff;
}
table.DataView tr.HeaderRow th a:hover {
        text-decoration: none;
}
table.DataView tr.Row td.Cell {
    text-align: center !important;
    padding: 4px;
    border: none;
    height: 75px !important;
}
table.DataView tr.AlternatingRow td.Cell {
    background-color: #dedede;
    border-top-color: #F6FAE1;
    border-bottom-color: #F6FAE1;
    text-align: center !important;
    padding: 4px;
    border: none;
    height: 75px !important;
}
table.DataView tr.Row td a,
table.DataView tr.AlternatingRow td a
{    color: #6f9dd9;}
table.DataView tr td.Cell.ActionColumn a span.Inner {

    padding: 5px;
    background: #48b5f5;
    color: #fff;
    font-weight: normal;
    text-transform: capitalize;
}

/* start customer page 
----------------------*/
table.DataView tr.CategoryRow{
	margin: 2rem auto ;
    padding:0  1rem;
    width: 100% !important ;
   
    display: block ;
  
    
}
/*
@media (max-width: 450px)
{
	table.DataView tr.CategoryRow
    {
    	width : 100% !important ;
    }
    
}
@media (max-width: 768px)
{
	table.DataView tr.CategoryRow
    {
    	width : 720px !important ;
    }
    
}
@media (max-width: 1200px)
{
    table.DataView tr.CategoryRow{
    	width : 1040px  !important;
    }
	
}
@media (max-width: 992px)
{
	 table.DataView tr.CategoryRow
     {
    	width : 960px !important  ;
     }
}
*/

table.DataView  th, td {
white-space: nowrap;
}
    



@media (max-width : 1050px ){
    table.DataView tr.CategoryRow {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin : auto;
    }

}
table.DataView tr.CategoryRow td.Fields
{
	background : #e5e5e5;
}

table.DataView tr.CategoryRow .Category table.Fields table.FieldWrapper td.Item div.Value input.TextInput,
table.DataView tr.CategoryRow td.Fields div.Item div.Value select

{
    height: 34px;
    margin: 7px 0;
    box-shadow: none !important ;
    border: 1px solid #42ABBA !important ;
    background: #f8f8f8;
    width : 300px !important ; /* it was 400 i change to 300 mostafa*/
}

table.DataView tr.CategoryRow td.Fields div.Item div.Value table.Lookup tr td
{
     border: none !important ;
     background: none !important ;
}
table.DataView tr.CategoryRow td.Fields div.Item div.Value a:first-child
{
    color: #42ABBA !important;
    /*display: inline-block;*/
    height: 34px;
    line-height: 31px;
    margin-left:  .5rem;
    border-radius: 2rem;
    font-weight: bold !important;
    border: 1px solid #42abba;
    padding: .2rem 1rem;
    background-color: #fff;
    width: 265px !important; /* it was 400 i change to 300 mostafa*/
}

 button
 {
 min-width: 135px!important;
 }