	@media (max-width: 768px) {
		#ctl00_PageMenuBar {
			display:none;
		}
		.rmSlide{
			display:block;
		}
	}

 
 	@media (max-width: 768px) {
		div.MembershipBar a{
			padding:2px;
			color: #fff !important;
 }
 
 .SearchBarCell div.SearchButtons{
	 display:table-cell;
 }
	}
 
 
  	@media (min-width: 768px) {
		   div.MembershipBar a {
			color: #1b5186 !important;
			padding: .1rem 1rem;
			background: #fff;
			border-radius: .5rem;
		}
		.rmSlide{
			display:none;
		}
	}
	
		@media (max-width: 972px) {
			table.Menu a.Link{
				font-size:12.5pt;
				transition:0.0s;
			}
		}