
/* Variables
================================== */
@bw: 3px;

// border width
/* Tables
================================== */
table.DataView {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 3em 0;
	padding: 0;
}

.DataView.cell {
	box-sizing: border-box;
	flex-grow: 1;
	width: 100%;
	// Default to full width padding: 0.8em 1.2em;
	overflow: hidden;
	// Or flex might break list-style: none;
	border: solid @bw white;
	background: fade(slategrey,20%);
	> h1, > h2, > h3, > h4, > h5, > h6

{
	margin: 0;
}

}

/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell {
	width: 50%;
}

.Rtable--3cols > .Rtable-cell {
	width: 33.33%;
}

.Rtable--4cols > .Rtable-cell {
	width: 25%;
}

.Rtable--5cols > .Rtable-cell {
	width: 20%;
}

.Rtable--6cols > .Rtable-cell {
	width: 16.6%;
}







