.footer{

}
#mynavbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height:30px;
	margin-top:10px;
}

    #mynavbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 5px 5px;
        text-decoration: none;
        font-size: 11px;
    }

        #mynavbar a:hover {
            background: #f1f1f1;
            color: black;
        }

        #mynavbar a.active {
            background-color: #4CAF50;
            color: white;
        }
.mainsidepanel {
  height: 80%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1065; /* Stay on top */
 left:100px;
  background-color: #9e9e9e; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}
/* The sidepanel links */
.mainsidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.mainsidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.mainsidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  position: absolute;
	
		
}

.openbtn:hover {
  background-color: #444;
}

#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    transition: 0.3s; /* Add transition on hover */
  
    width: 160px; /* Set a specific width */
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 11px;
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    z-index: 1000;
}
    #mySidenav a:hover {
        padding: 7px 7px;
    }

/* The about link: 20px from the top with a green background */
#projects {
 
  background-color: #f44336; /* Red */
 
}
#contact {
 
  background-color: #555 /* Light Black */
}
#about {
  
  background-color: #4CAF50;
 
}
#blog {
  
  background-color: #2196F3; /* Blue */
}
#blog1 {
    background-color: #2196D3; /* Blue */
}
/* Style the links inside the sidenav */


#mySidenavup a {
  position: absolute; /* Position them relative to the browser window */
  bottom:60px;
  left:-10px;
  transition: 0.3s; /* Add transition on hover */
  width: 90px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  z-index: 1065;
}

#mySidenavup a:hover {
  left: 0px; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#aboutup {
  top: 36px;
  background-color: #f44336;
 
 
}
#blogup {
  top: 30px;
  background-color: #2190F3; /* Blue */
}
