
body {
  margin: 0; }





div.PageMenuBar {
    font-size: 20px !important;
    font-weight: bold !important;
    padding: 1px 1px 0px 1px !important;
    height: 35px !important;
    list-style: none;
    /* border-radius: 10px; */
    background: #014464;
    background: -moz-linear-gradient(top, #0272a7, #013953);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#369a9a), to(#006a6a));
    border: 1px solid #000d2f;
    -moz-box-shadow: inset 0px 0px 1px #edf9ff;
    -webkit-box-shadow: inset 0px 0px 1px #edf9ff;
    box-shadow: inset 0px 0px 1px #edf9ff;
}


.MembershipBarPlaceholder {
    display: block;
    background-color: #42abba !important;
    color: #FFF !important;
    font-size: 20px !important;
    font-weight: bold !important;
    padding: 1px 1px 0px 1px !important;
    height: 25px !important;
    list-style: none;
    background: #014464;
    background: -moz-linear-gradient(top, #0272a7, #013953);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));
     border: 1px solid #002232;
    -moz-box-shadow: inset 0px 0px 1px #edf9ff;
    -webkit-box-shadow: inset 0px 0px 1px #edf9ff;
    box-shadow: inset 0px 0px 1px #edf9ff;
}

.rsmTemplate > .panel-heading {
    /* padding: 10px 15px; */
    /* border-bottom: 1px solid transparent; */
    /* border-top-left-radius: 3px; */
    /* border-top-right-radius: 3px; */
     /* background-color: #8ab9e2; */
	 /* min-width: 230px; */
    /* height: 70px; */
    /* line-height: 70px; */
    /* display: inline-block; */
    /* border-radius: 10px; */

    /* z-index: 3; */
	/* opacity:0.9; */
    /* position:relative; */
    /* left: 0; */
    /* vertical-align:middle; */
    /* text-align: center; */
    /* font-size: 21px; */
     /* color:  #3e5e9a;  */
    /* border: 2px solid #3e5e9a; */
	min-width: 230px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 10px;
    background: white;
    z-index: 3;
	opacity:0.9;
    position:relative;
    left: 0;
    vertical-align:middle;
    text-align: center;
    font-size: 21px;
    color:  #3e5e9a;
    border: 2px solid #3e5e9a;
}



    div.PageMenuBar table.Menu tr td.Item {
        padding-right: 1px;
        padding-left: 10px;
        overflow: visible;
    }





.myhomesidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkgrey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .myhomesidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .myhomesidebar a:hover {
            color: #f1f1f1;
        }

    .myhomesidebar .myhomeclosebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.myhomeopenbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

    .myhomeopenbtn:hover {
        background-color: #444;
    }

#myhomemain {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .myhomesidebar {
        padding-top: 15px;
    }

        .myhomesidebar a {
            font-size: 18px;
        }
}

.navbar-fixed-left1 {
    position: fixed;
    top: 0px;
    left: 50%;
    border-radius: 50px;
}






.HoverMenu a.Item span.Description {
    color: #696969;
    display: block;
}
.HoverMenu a.Item {
    margin: 1px 1px 1px 0;
	min-width:300px;
    padding: 0;
    display: block;
    color: #003399;
    cursor: pointer;
    border: solid 1px transparent;
    white-space: nowrap;
    font-family: Verdana!important;
    font-size: 12pt!important;
    font-weight: bold!important;
}


table.LoginDialog {
    color: #fff !important;
    border-color: #428bca !important;
    background-color: #428bca !important;
    /*position: fixed;
    height: var(--wlp-status-bar-height);
    bottom: 0px;
    font: var(--body-font);*/

}

table.LoginDialogCollapsed
{
    background-color: transparent !important;
    border-color: transparent !important;
}

table.LoginDialogCollapsed, div.HelpLink
{
   
     color: #fff !important;
}

div.MembershipBar a
{
     color: #fff !important;
}






div#PageFooterBar1
{
display: none;

}

div#PageHeaderBar
{
display: none;
}
td#PageHeaderContent
{
display: none;
}
td#PageHeaderSideBar
{
display: none;
}
td#PageHeaderLeftSide
{
display: none;
}
td#PageHeaderRightSide
{
display: none;
}
td#PageContentSideBar
{
display: none;
}
td#PageContentRightSide
{
display: none;
}

tr td.Control select
{
height: 24px;
}
.imageWrappernews
 {
    position: relative;
    width: 400px;
    height: 45px;
    
}
.imageWrappermenews
 {
    position: relative;
    width: 103px;
    height: 40px;
 
}
.imageWrappernews img {
    display: block;
     width: 103px;
    height: 40px;
}

.imageWrapper
 {
    position: relative;
    width: 175px;
    height: 205px;
    
}
.imageWrapper img {
    display: block;
}

.imageWrapper .cornerLink
{
    opacity: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 2px 0px;
    color: #ffffff;
    background: #000000;
    text-decoration: none;
    text-align: center;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}
.imageWrapper:hover .cornerLink {
    opacity: 0.3;
    top:0px;
    width: 175px;
    height: 175px;

}
div.paneCenter_Text
{
direction: rtl!important;  

}

.content_header
{
    background-color: #C0C0C0;
    text-align: center;
    font-size: medium;
    font-weight: bold;
}
.captcha{background-image:url(images/captcha-bg.jpg);border:1px solid #fff;}

 temporary content css - for home page login box 
.buttonCSS a{display:block; float: left; width:auto; border: 1px solid #CCCCCC; font-size: 11px; color: #000000; margin-right: 3px; margin-top: 6px; background-image: url('images/temporary/button-bg.jpg'); padding: 6px;}
.buttonCSS a:hover{border: 1px solid #6699cc; background-image: url(images/temporary/button-hover-bg.jpg); color: #000000; text-decoration: none;}
.tempLoginWrap{margin:100px auto auto auto;width:500px;border:1px solid #ccc;padding:15px;-moz-border-radius: 7px;-webkit-border-radius: 7px;}


MultiSelect{
	
	max-width:25px!important; 
	
}
tr.replaced11 td
{ 
 color: pink!important; 
 font-weight: bold!important; 
 background-color: red!important; 
} 

tr.replaced td 
{ 
 background-color: orange!important; 
 color: yellow!important; 
}
tr.TooExpensive td.Cell
{
    background-color:#ffe79c!important;
    border-color:#ffe79c!important;
    border:solid;
}
td.Cell
{
    /*background-color:#ffe79c!important;*/
    border-color:#ffe79c!important;
    border:solid;
    border-width:0.1px;
}

tr.HighDiscount td.BlackList
{
    background-image:none!important;
    background-color:red!important;
    color:white;
}

tr.TooExpensive.Highlight td.Cell
{
    background-color:#C5C5C5!important;
    border-color:#9E9E9E!important;
    border:solid;
    border-width:0.1px;
}

.imageWrapper
 {
    position: relative;
    width: 105px;
    height: 125px;
    
}


.imageWrapperme
 {
    position: relative;
    width: 103px;
    height: 104px;
 
}
.imageWrapper img {
    display: block;
     width: 103px;
    height: 104px;
}

.imageWrapper .cornerLink
{
    opacity: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 2px 0px;
    color: #ffffff;
    background: #000000;
    text-decoration: none;
    text-align: center;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}
.imageWrapper:hover .cornerLink {
    opacity: 0.3;
    top:0px;
    width: 105px;
    height: 105px;

}
.content_header
{
    background-color: #C0C0C0;
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

span.Text
{
    
    display: inline-block;
    overflow: hidden;
    width: auto !important;
    position: relative !important;
    cursor: pointer !important;
    font-size: 21px !important;
    font-weight: Bold !important;
    color: #000000 !important;
    text-align: center !important;
    min-width: 205px !important;
    font-family: Arial, Helvetica, sans-serif;
}
div.Header
{
    width:auto!important;
	font-size: 16px!important;
	font-weight: Bold!important;
	 min-width:205px!important;
	color: #000000 !important;
}
td.Cell.Toggle.First
{
max-width:25px!important;	
}
th.Toggle.First
{
max-width:25px!important;	
}




 .animate {
    	-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	.navbar-fixed-left {
		position: absolute;
		top: 0px;
		left: 50%;
		border-radius: 50px;
	}

	.navbar-minimal {
		width: 60px;		
		min-height: 22px;
		max-height: 100%;
		background-color: #FF0066;
		background-color: rgba(51, 51, 51, 0.8);
		border-width: 0px;
		z-index: 1000;
	}

	.navbar-minimal > .navbar-toggler {
		position: relative;
		min-height: 22px;
		border-bottom: 1px solid rgb(81, 81, 81);
		z-index: 100;
		cursor: pointer;
	}

	.navbar-minimal.open > .navbar-toggler,
	.navbar-minimal > .navbar-toggler:hover {
		background-color: #FF0066;
	}

	.navbar-minimal > .navbar-toggler > span {
		position: absolute;
		top: 50%;
		right: 50%;
		margin: -8px -8px 0 0;
		width: 16px;
		height: 16px;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjIuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjMycHgiIHZpZXdCb3g9IjAgMCAxNiAzMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYgMzIiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI0ZGRkZGRiIgZD0iTTEsN2gxNGMwLjU1MiwwLDEsMC40NDgsMSwxcy0wLjQ0OCwxLTEsMUgxQzAuNDQ4LDksMCw4LjU1MiwwLDgKCVMwLjQ0OCw3LDEsN3oiLz4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xLDEyaDE0YzAuNTUyLDAsMSwwLjQ0OCwxLDFzLTAuNDQ4LDEtMSwxSDFjLTAuNTUyLDAtMS0wLjQ0OC0xLTEKCVMwLjQ0OCwxMiwxLDEyeiIvPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI0ZGRkZGRiIgZD0iTTEsMmgxNGMwLjU1MiwwLDEsMC40NDgsMSwxcy0wLjQ0OCwxLTEsMUgxQzAuNDQ4LDQsMCwzLjU1MiwwLDMKCVMwLjQ0OCwyLDEsMnoiLz4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xLjMzLDI4Ljk3bDExLjY0LTExLjY0YzAuNDU5LTAuNDU5LDEuMjA0LTAuNDU5LDEuNjYzLDAKCWMwLjQ1OSwwLjQ1OSwwLjQ1OSwxLjIwNCwwLDEuNjYzTDIuOTkzLDMwLjYzM2MtMC40NTksMC40NTktMS4yMDQsMC40NTktMS42NjMsMEMwLjg3MSwzMC4xNzQsMC44NzEsMjkuNDMsMS4zMywyOC45N3oiLz4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yLjk5MywxNy4zM2wxMS42NDEsMTEuNjRjMC40NTksMC40NTksMC40NTksMS4yMDQsMCwxLjY2MwoJcy0xLjIwNCwwLjQ1OS0xLjY2MywwTDEuMzMsMTguOTkzYy0wLjQ1OS0wLjQ1OS0wLjQ1OS0xLjIwNCwwLTEuNjYzQzEuNzg5LDE2Ljg3MSwyLjUzNCwxNi44NzEsMi45OTMsMTcuMzN6Ii8+Cjwvc3ZnPgo=);
		background-repeat: no-repeat;
		background-position: 0 0;
		-webkit-transition: -webkit-transform .3s ease-out 0s;
		-moz-transition: -moz-transform .3s ease-out 0s;
		-o-transition: -moz-transform .3s ease-out 0s;
		-ms-transition: -ms-transform .3s ease-out 0s;
		transition: transform .3s ease-out 0s;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	.navbar-minimal > .navbar-menu {
		position: absolute;
		top: -1000px;
		left: 0px;
		margin: 0px;
		padding: 0px;
		list-style: none;
		z-index: 50;
		background-color: rgb(51, 51, 51);
		background-color: rgba(51, 51, 51, 0.8);
	}
	.navbar-minimal > .navbar-menu > li > a {
		position: relative;
		display: inline-block;
		color: rgb(255, 255, 255);
		padding: 20px 23px;
		text-align: center;
		cursor: pointer;
		border-bottom: 1px solid rgb(81, 81, 81);
		width: 100%;
		text-decoration: none;
		margin: 0px;
	}

	.navbar-minimal > .navbar-menu > li > a:last-child {
		border-bottom-width: 0px;
       
	}
  	.navbar-minimal > .navbar-menu > li > a:hover {
		background:rgb(158, 202, 59);
	}
	.navbar-minimal > .navbar-menu > li > a > .glyphicon {
		float: right;
	}

	.navbar-minimal.open {
		width: 300px;
	}

	.navbar-minimal.open > .navbar-toggler > span {
		background-position: 0 -16px;
		-webkit-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}

	.navbar-minimal.open > .navbar-menu {
		top: 60px;
		width: 100%;
		min-height: 100%;
	}

	@media (max-width: 650px) {
	.navbar-fixed-left {
		position: absolute;
		top: 30px;
		left: 10%;
		border-radius: 90px;
	
	}
	.mosso {
			background-color: rgb(51, 51, 51);
		}
		
		.navbar-minimal.open {
			width: 200px;
		}
	}
	
	@media (min-width: 768px) {
		.navbar-minimal.open {
			width: 300px;
		}
		.navbar-minimal.open > .navbar-menu {
			overflow: visible;
		}
		.navbar-minimal > .navbar-menu > li > a > .desc {
			position: absolute;
			display: inline-block;
			top: 50%;
			left: 130px;
			margin-top: -20px;
			margin-left: 20px;
			text-align: center;
			white-space: nowrap;
			padding: 10px 13px;
			border-width: 0px !important;
			background-color: rgb(51, 51, 51);
			background-color: rgba(51, 51, 51, 0.8);
			opacity: 0;
		}
	
	
		.mosso {
			display: none!important;
		}
	
	
	
	
	}
.navbar-fixed-left1 {
		position: fixed;
		top: 0px;
		left: 50%;
		border-radius: 50px;
      
	}
.navbar-toggler1 {
		position: relative;
		min-height: 42px;
		border-bottom: 1px solid rgb(81, 81, 81);
		z-index: 100;
		cursor: pointer;
      
	}

 .navbar-toggler1:hover {
		background-color: #FF0066;
	}

 .navbar-toggler1 > span {
		position: absolute;
		top: 50%;
		right: 50%;
		margin: -8px -8px 0 0;
		width: 16px;
		height: 16px;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjIuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjMycHgiIHZpZXdCb3g9IjAgMCAxNiAzMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYgMzIiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI0ZGRkZGRiIgZD0iTTEsN2gxNGMwLjU1MiwwLDEsMC40NDgsMSwxcy0wLjQ0OCwxLTEsMUgxQzAuNDQ4LDksMCw4LjU1MiwwLDgKCVMwLjQ0OCw3LDEsN3oiLz4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xLDEyaDE0YzAuNTUyLDAsMSwwLjQ0OCwxLDFzLTAuNDQ4LDEtMSwxSDFjLTAuNTUyLDAtMS0wLjQ0OC0xLTEKCVMwLjQ0OCwxMiwxLDEyeiIvPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI0ZGRkZGRiIgZD0iTTEsMmgxNGMwLjU1MiwwLDEsMC40NDgsMSwxcy0wLjQ0OCwxLTEsMUgxQzAuNDQ4LDQsMCwzLjU1MiwwLDMKCVMwLjQ0OCwyLDEsMnoiLz4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xLjMzLDI4Ljk3bDExLjY0LTExLjY0YzAuNDU5LTAuNDU5LDEuMjA0LTAuNDU5LDEuNjYzLDAKCWMwLjQ1OSwwLjQ1OSwwLjQ1OSwxLjIwNCwwLDEuNjYzTDIuOTkzLDMwLjYzM2MtMC40NTksMC40NTktMS4yMDQsMC40NTktMS42NjMsMEMwLjg3MSwzMC4xNzQsMC44NzEsMjkuNDMsMS4zMywyOC45N3oiLz4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yLjk5MywxNy4zM2wxMS42NDEsMTEuNjRjMC40NTksMC40NTksMC40NTksMS4yMDQsMCwxLjY2MwoJcy0xLjIwNCwwLjQ1OS0xLjY2MywwTDEuMzMsMTguOTkzYy0wLjQ1OS0wLjQ1OS0wLjQ1OS0xLjIwNCwwLTEuNjYzQzEuNzg5LDE2Ljg3MSwyLjUzNCwxNi44NzEsMi45OTMsMTcuMzN6Ii8+Cjwvc3ZnPgo=);
		background-repeat: no-repeat;
		background-position: 0 0;
		-webkit-transition: -webkit-transform .3s ease-out 0s;
		-moz-transition: -moz-transform .3s ease-out 0s;
		-o-transition: -moz-transform .3s ease-out 0s;
		-ms-transition: -ms-transform .3s ease-out 0s;
		transition: transform .3s ease-out 0s;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
 