table.Menu tr td.Selected a.Link
{
	color: #ec3a3e!important;
	
 }
 table.Menu tr td.Selected a.Link:before
{
	
	content: " \2714  "!important;
   
	
}


div.TabBar.EmptyTabBar
{
height: 14px!important;
	
}
div.TabBar
{
border-bottom-color: #ACBA82;
	background-color: #42abba!important;
	border-color: #828282!important;	
	
}
table.DataView tr.ActionRow td.ActionBar {
    border-color: #828282!important;
    background-image: url(ActionBarBg.gif)!important;
    background-color: #eaeaea!important;
}

.TabContainer .ajax__tab_tab 
{
    height: 25px!important;
    padding: 2px 8px 1px 8px;
}	
table.Menu tr td.Menu_Hover a.Link
{
       background-color: #fff!important;
	   padding: 2px 8px 1px 8px;
}

table.Menu a.Link {
	
    font-family: Arial;
    font-size: 16.5pt;
    text-decoration: none;
    color: #f5f5f5;
}
table.Menu tr td.Parent span.Outer {
    background-image: none!important;
    background-position: right center;
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
    padding-right: 13px;
	
}
table.DataView tr.CategoryRow .Category table.Fields table.FieldWrapper td.Item div.Value input.TextInput
{

    height: 34px;
  
	
}

button.Actions-g-ag3-a-a1:before {
    content: " \2714  ";   

	
	
}



#PageContent button:not(.ui-button), #LoginDialog button:not(.ui-button) {

    
    height: 30px !important;
    color: White !important;
    font-weight: bold;
    text-shadow: 0 1px 1px #000;
    border-width: 0;
    border-radius: 3px;





}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}


button.Actions-g-ag2-a-a4:before {
    content: " \2714  ";   

	
	
}
table.SearchBarFrame
 {
    border-collapse: collapse;
    border-spacing: 0;
	padding-right:20px!important;
	padding-left:20px!important;
   
}
.SearchBarCell div.SearchButtons
 {
	 padding-right:20px!important;
	padding-left:20px!important;
	float:none!important;
    height: 65px;
    overflow: hidden;
   
}
.SearchBarCell div.SearchButtons button {
	
	padding-right:20px!important;
	padding-left:20px!important;
	  }



 
table#PageBody tr td#PageContentSideBar, table#PageBody tr td#PageContentLeftSide {
 
    display:none;
    
}

div.PageMenuBar table.Menu tr td.Parent span.Inner {
	background-image:none;
    height: 65px!important;
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 2px;
    padding: 2px 3px 2px 2px;
    margin-top: 0px;
	margin-bottom:0px;
    background-repeat: repeat-x;
 
   
    
	
}
div.TabBar {
    height: 34px;
}
div.PageMenuBar table.Menu tr td.Item .Outer, table.Menu tr td.Item .Inner, table.Menu tr td.Item .Link {
    display:inline-table;
	min-height:25px;
}
table.Menu tr td.Item {
    padding: 1px 1px 1px 1px;
    border-right: solid 0px #c2dcff;
    border-top: solid 0px #c2dcff;
    background-image:none;
    border-left: #d68e12 2px solid;
    white-space: nowrap;
    cursor: pointer;
	min-height:20px;
}
div.PageMenuBar table.Menu tr td.Item span.Outer {
    border-right-color: #525050;
    border-top-color: #525050;
 
    border-left-color: #525050;
    -moz-border-radius: 2px;
    border-radius: 2px;
   padding: 0px 0px 0px 0px;
    margin-top: -1px;
	margin-bottom:1px;
    background-repeat: repeat-x;
 min-width:135px;
   text-align:center;
    height: 35px!important;
    border-width: 120px;
	position:relative;
}
.header_bar {
  border-radius: 0;
}
.header_bar .navbar-brand {
  height: 70px;
}
.header_bar main {
  margin-top: 0px;
}
header {
  padding-top: 30px;
}
object {
    width: 100%;
    min-height: 100%;
}       
.header_bar .navbar-nav li a.active {
  color: #ec3a3e;
}

.sidenav {
 display:none;
  background-color: #111;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding-top: 30px;
 position:absolute;
 
  text-align: left;
  top: 0;
  transition: all 0.5s ease 0s;
  width: 0;
  z-index: 1;
  color:#fff;
}
.sidenav a {
  color: #fff;
  display: block;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.sidenav a:hover{
    color: #f1f1f1;
}
.sidenav .side_menu a {
  font-size: 24px;
  font-weight: 600;
  padding-left: 8px;
}

.sidenav .closebtn {
  font-size: 30px;
  margin-left: 50px;
  position: absolute;
  right: 25px;
  top: 0;
    content: "\e013";
}
.side_menu {
  border-right: 1px solid #ffffff;
  padding-left: 32px;
}
.login_side {
  padding-left: 50px;
}


.btn-red{
	border-color:#ec3a3e;
	background:#ec3a3e;
	color:#fff;
}
.btn-none{
	border-color:#fff;
	background:transparent;
	color:#fff;
}
.btn.focus, .btn:focus, .btn:hover {
  color: #fff;
  opacity: 0.8;
}
.border-radius
{
	border-radius:0px;
}
.login_side .btn {
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
}
.text-red{
	color:#ec3a3e !important;
}
h1, h2, h3, h4, h5, h6 {
  color: #4d4d4d;
  font-weight: 600;
  margin-top: 0;
}
.social_ico a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 0 5px 0 0;
  text-align: center;
  width: 30px;
  background: #c0c4c7 none repeat scroll 0 0;
  color: #fff;
  padding:0px;
}
.social_ico {
  float: left;
  margin-top: 15px;
    width: 100%;
}
.contact_info {
  float: left;
  margin-top: 20px;
  width: 100%;
}
.mar-25
{
	margin-top:25px;
}
.header_bar .navbar-toggle {
  height: 100%;
  margin-top: 19px;
  padding: 7px 12px;
  cursor:pointer;
}
.social_ico a:hover {
  background: #ec3a3e none repeat scroll 0 0;
}
.sidenav .side_menu a:hover, .sidenav .side_menu a.active {
  border-left: 4px solid #ec3a3e;
  color: #ec3a3e;
}
.top_section {
  float: left;
  margin-bottom: 25px;
  width: 100%;
}
.chu-section {
  float: left;
  padding: 40px 0;
  width: 100%;
}
section {
  float: left;
  width: 100%;
}
.bg-gray{
	background-color:#262627;
	color:#fff;
}
.section-cover {
  float: left;
  padding: 40px;
  width: 100%;
}
.bg-gray h1, .bg-gray h4 {
  color: #fff;
}
.ico-cover {
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
  border-radius: 100px;
  clear: both;
  height: 100px;
  line-height: 100px;
  margin: auto auto 20px;
  position: relative;
  text-align: center;
  width: 100px;
}
.view-btn ,.view-btn:hover,.view-btn:focus{
  color: #ffffff;
  font-weight: 600;
  text-decoration:none;
}
.ico-cover::after {
  border: 4px solid #050505;
  border-radius: 100px;
  content: "";
  height: 90px;
  left: 5px;
  line-height: 90px;
  position: absolute;
  top: 5px;
  width: 90px;
}
.login_side h3 {
  color: #ffffff;
}


	.side_menu {
  border-right: none;
}

	}


#regContainer{
    direction:ltr;
    margin-top: -30px; 
   
}



/* #PageContent{ */
   /* position:relative; */
   
   
    /* width: 100%; */
    /* height:100% !important; */
   /* bottom: 0!important; */
    /* left: 0!important; */
/* } */

#mySidenavxx a {
    position: absolute;
    left: -50px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
   overflow: visible;
}


.outertransparent
{
    padding:5px;
    background-color: rgba(255,255,255,0.9);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,startColorStr="#E6FFFFFF",endColorStr="#E6FFFFFF");
    -ms-filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,startColorStr="#E6FFFFFF",endColorStr="#E6FFFFFF");
}
#regContainer1{
    direction:ltr;
    margin-top: -60px; 
    height:100%
   
}



footer{
	background-color:#222222;
    padding: 20px 0px;
    bottom: 0; height: 50px;
   
}

footer ul{
    list-style:none;
    margin:0 auto;
    display:inline-block;
    padding-top:10px;
}

footer ul li{
    float:left;
}

footer ul li a{
	color:#b1aca1;
    padding:20px;
}

footer ul li a:hover{
	color:#7dabdb;
	text-decoration:none;
}

.footer-top{
	padding-bottom:10px;
}

.footer-top .fa{
    font-size:18px;
    color: #FFF;
    padding-right:10px;
}

.footer-top a{
    color:#FFF;
    text-decoration:none;
}

.footer-top .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
    color:#7dabdb;
}

.copyright{
    background-color:#f0f0f0;
    color:#7dabdb;
}

.copyright p{
	font-size:16px;
	padding:15px 0 10px 0;
}

.contenthome {
    text-align:center;
    height: 100%;
    min-height:500px;
    display: inline-block;
    flex-direction:column;
    justify-content: center;
    transition: margin-right 0.3s ease-out, background-color 0.3s ease-out;
}
.containerhomeimage {
    position: relative;
    width: 100%;
   
   
	
}
.imageWrappermehome
 {
    vertical-align:central;
    text-align:center;
    position: relative;
    width: 114px;
    height: 114px;
     border-radius: 100%;
    display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  border-radius: 100%;
  
}

.containerhomeimage:hover .overlay {
  width: 100%;
  left: 0;
}

.containerhomeimagetext {
  white-space: nowrap; 
  color: white;
  font-size: 16px;
  font-weight:bold;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}





.clearfixhomeimage::after {
    content: "";
    clear: both;
    display: table;
}

.small-box:hover .overlay {
  opacity: 1;
}

.hometext {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.appshome {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 955px;
    margin: 0 auto;
}
.apps__item {
    display: block;
    cursor: pointer;
    text-decoration: none;
    margin-top: 25px;
    margin-bottom: 35px;
    width: 20%;
    min-width: 100px;
    transition: all 0.3s;
    transition-timing-function: ease-out;
    border-radius: 50%;
}
.panel-login {
    border-color: #ccc;
     background-color: #f9f8f8;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	
}
.panel-login>.panel-heading {
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none!important;
    font-weight: bold!important;
    font-size: 28px!important;
    -webkit-transition: all 0.1s linear!important;
    -moz-transition: all 0.1s linear!important;
    transition: all 0.1s linear!important;
}
.panel-login>.panel-heading a.active{
    font-size: 34px!important;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0))!important;
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0))!important;
   
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0))!important;
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 40px !important;
    border: none !important;
    font-size: 16px!important;
    -webkit-transition: all 0.1s linear!important;
    -moz-transition: all 0.1s linear!important;
    transition: all 0.1s linear!important;
	
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color:#3D9DB3;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #2d92a9;
	
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #198da8;
    border-color: #53A3CD;
}
.btn-register {
    background-color: #17ae47;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}

.fullscreen_bg {
    top: -50px!important;
    right: 0!important;
    bottom: 0!important;
    left: 0!important;
   
     background-size: cover!important;
    background-position: 50% 50%!important;
    background-image: url('back_10.jpg')!important;
    background-repeat:repeat!important;	
    
  }
  .zaker {
     
     background-size: cover!important;
    background-position: 50% 50%!important;
    background-image: url('zaker.png')!important;
    background-repeat:repeat!important;	
    
  }
 
#LoginControl{
height : 100vh !important ;
}
 
.panel-heading a{
    font-size: 48px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

.panel-heading a{
    background: -webkit-repeating-linear-gradient(-45deg, 
    rgb(18, 83, 93) , 
    rgb(18, 83, 93) 20px, 
    rgb(64, 111, 118) 20px, 
    rgb(64, 111, 118) 40px, 
    rgb(18, 83, 93) 40px);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.board{
    width: 100%;
margin: 20px auto;
height: auto;
background: #fff;
box-shadow: 10px 10px #ccc,-10px 20px #ddd;
}
.board .nav-tabs {
    position: relative;
     border-bottom: 0;
     width: 50%;
    margin: 20px auto;
    margin-bottom: 0;
    box-sizing: border-box;

}

.board > div.board-inner{
   
    background-size: 30%;
}

p.narrow{
    width: 30%;
    margin: 10px auto;
}

.liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

table.DataView tr.Selected td.Cell
{
    background-color: #8ab9e2;
    border-top-color:  #8ab9e2;
    border-bottom-color:#8ab9e2;
    background-repeat: repeat-x;
    color: black;
    text-align: center!important;
}

span.round-tabs1
{
    min-width: 130px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 10px;
    background: white;
    z-index: 3;
	opacity:0.9;
    position:relative;
    left: 0;
    vertical-align:middle;
    text-align: center;
    font-size: 21px;
    color:  #3e5e9a;
    border: 2px solid #3e5e9a;
     
}
span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    opacity:0.7;
    z-index: 2;
    position:absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tabs.one{
	
    background-size: cover!important;
    background-position: 50% 50%!important;
    background-image: url('zaker.png')!important;
    background-repeat:no-repeat!important;	
	
}
span.round-tabs1.one{
	
    background-size: cover!important;
    background-position: 50% 50%!important;
    background-image: url('zaker.png')!important;
    background-repeat:no-repeat!important;	
	
}
li.active span.round-tabs.one{
   
    border: 3px solid #00c0ef;
    color: #00c0ef;
	background-size: cover!important;
    background-position: 50% 50%!important;
    background-image: url('zaker.png')!important;
    background-repeat:no-repeat!important;	
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
   
}

span.round-tabs.two{
    color: #febe29;border: 2px solid #febe29;
}

li.active span.round-tabs.two{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
	background-size: cover!important;
    background-position: 5% 5%!important;
    background-image: url('sas.png')!important;
    background-repeat:repeat!important;	
}

span.round-tabs.three{
    color: #3e5e9a;border: 2px solid #3e5e9a;
}

li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}

span.round-tabs.four{
    color: #f1685e;border: 2px solid #f1685e;
}

li.active span.round-tabs.four{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.five{
    color: #999;border: 2px solid #999;
}

li.active span.round-tabs.five{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}

.nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.nav-tabs > li {
    width: 20%;
}
li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}
.nav-tabs > li:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;
    
}
.nav-tabs > li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;
    
}
.nav-tabs > li a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.nav-tabs > li a:hover{
    background: transparent;
}

.tab-content{
}
.tab-pane{
   position: relative;
padding-top: 10px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 1px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}
	@media (min-width: 768px) {
		.navbar-minimal.open {
			width: 300px;
		}
		.navbar-minimal.open > .navbar-menu {
			overflow: visible;
		}
		.navbar-minimal > .navbar-menu > li > a > .desc {
			position: absolute;
			display: inline-block;
			top: 50%;
			left: 130px;
			margin-top: -20px;
			margin-left: 20px;
			text-align: center;
			white-space: nowrap;
			padding: 10px 13px;
			border-width: 0px !important;
			background-color: rgb(51, 51, 51);
			background-color: rgba(51, 51, 51, 0.8);
			opacity: 0;
		}

	
	}


@media( max-width : 585px ){
    
    .board {
width: 90%;
height:auto !important;
}



    span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
        }
    .nav-tabs > li a {
width: 50px;
height: 50px;
line-height:50px;
}

.nav-tabs > li.active:after {
content: " ";
position: absolute;
left: 35%;
}

.btn-outline-rounded {
    padding:12px 20px;
    }
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

