@import url(../_Shared/Core.css?8.0.11.634);
@import url(../_Shared/Membership.css?8.0.11.634);
@import url(../_Shared/_Layout.css?8.0.11.634);

/*****************************************/
/* core overrides                        */
/*****************************************/

 /* default hover monitor styles */

.HoverMenu
{
    border-color: #868686;
    background-image: url(MenuBg.gif);
    background-color: #FAFAFA;
}

.HoverMenu .Break
{
    border-top-color: #666666;
}

.HoverMenu a.Item, .SearchBarCell option.Delete

{
    color: #D10000;
}

.HoverMenu a.Active
{
    background-color: #FFE885;
    color: #D10000;
    border-color: #CFAA1D;
}

.HoverMenu a.Disabled
{
    color: #696969;
}

.HoverMenu a.Item span.Text
{
    color: #D10000;
}

.HoverMenu a.Item span.Description
{
    color: #666666;
}

.HoverMenu a.Active span.Description
{
    color: black;
}

.HoverMenuEx
{
    background-image: url(MenuBgLarge.gif);
}

/* data view styles */

div.DataViewModalPopup
{
    background-color: white;
}

table.DataView tr.HeaderRow th
{
    background-color: #F2F2F2;
    color: #808080;
    background-image: url();
}

table.DataView tr.HeaderRow th.FieldHeaderSelector_Hover
{
    background-color: #DDE1E5;
    background-image: url(HeaderBg.gif);
}

table.DataView tr.HeaderRow th a
{
    color: #808080;
}

table.DataView tr.HeaderRow th.FieldHeaderSelector_Hover a
{
    color: #4C4C4C;
}

table.DataView tr.HeaderRow th a:hover
{
    color: black;
}

.FieldHeaderSelector_Arrow
{
    background-color: #FCE270;
    border-color: white;
}

.FieldHeaderSelector_Arrow div
{
    background-image: url(ArrowBkg.gif);
}

table.DataViewLookup a.Disabled, table.DataViewLookup a:hover.Disabled
{
    color: Silver;
}

table.DataView tr td, table.DataViewLookup tr td
{
    color: Black;
}

table.DataView tr.Row td.Cell
{
    background-color: #FFFFFF;
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

table.DataView tr.AlternatingRow td.Cell
{
    background-color: #F6FAE1;
    border-top-color: #F6FAE1;
    border-bottom-color: #F6FAE1;
}

table.DataView tr.AggregateRow td.None
{
    background-color: #FFFFFF;
    border-top-color: silver;
}

table.DataView tr.AggregateRow td.Aggregate
{
    background-color: #FFFFFF;
    border-top-color: silver;
    color: #696969;
}

table.DataView tr.Row td a, table.DataView tr.AlternatingRow td a, div.TaskBox table.ObjectRef tr td a, div.TreeView a, tr.HeaderTextRow td.HeaderText a.Letter
{
    color: #D10000;
}

table.DataView tr.Row td a:hover, table.DataView tr.AlternatingRow td a:hover, div.TaskBox table.ObjectRef tr td a:hover, div.TreeView a:hover
{
    color: black;
}

table.DataView tr.HeaderTextRow td.HeaderText
{
    color: #696969;
}

table.DataView tr.Selected td.Cell
{
    background-color: #CDDD9B;
    border-top-color: #ACBA82;
    border-bottom-color: #ACBA82;
}

table.DataView tr.Highlight td.Cell
{
    border-top-color: #CFAA1D;
    border-bottom-color: #CFAA1D;
    background-color: #FFE885;
}

table.DataView tr.ActionRow td.ActionBar
{
    border-color: #ACBA82;
    background-image: url(ActionBarBg.gif);
    background-color: #F5E0A3;
}

table.DataView tr.ActionRow td.ActionBar table.Groups tr td.ActionGroup_Hover
{
    background-image: url(ActionGroupBg.gif);
}

table.DataView tr.ActionRow td.ActionBar table.Groups tr td.Group a
{
    color: #D10000;
}

table.DataView tr.ActionRow td.ActionBar table.Groups tr td.ActionGroup_Hover a
{
    color: black;
}

.ActionGroup_TopLine, .ActionGroup_RightLine, .ActionGroup_BottomLine, .ActionGroup_LeftLine
{
    background-color: #ACBA82;
}

table.DataView tr.ActionRow td.ActionBar table.Groups tr td.Divider div
{
    background-image: url(ActionBarDiv.gif);
}

table.DataView tr.ActionRow td.ActionBar table.Groups tr td.QuickFind div.QuickFind
{
    background-color: White;
    border-color: silver;
}

table.DataView tr.ActionRow td.ActionBar table.Groups tr td.QuickFind div.QuickFind input
{
    color: Black;
}

table.DataView tr.ActionRow td.ActionBar table.Groups tr td.QuickFind div.QuickFind input.Empty
{
    color: #696969;
}

table.DataView tr.ActionRow td.ActionBar table.Groups tr td.QuickFind div.QuickFind input.NonEmpty
{
    color: #696969;
}

.RowSelector_Arrow
{
    background-color: #FBDF68;
    border-color: white;
}

.RowSelector_Arrow div
{
    background-image: url(ArrowBkg.gif);
}

.RowSelector_TopLine, .RowSelector_RightLine, .RowSelector_BottomLine, .RowSelector_LeftLine
{
    background-color: #D10000;
}

div.RowSelector_Hover
{
    background-color: white;
}

.ModalPlaceholder table.DataView
{
    border-top-color: #ACBA82;
    border-left-color: #ACBA82;
    border-right-color: #ACBA82;
}

.ModalPopup
{
    border-top-color:#ACBA82;
}

span.ViewSelector
{
    background-image: url(ViewNameBg.gif);
    border-color: #CFAA1D;
}

span.ViewSelector_Hover
{
    border-color: #CFAA1D;
    background-image: url(ActionGroupBg.gif);
}

span.ViewSelector span.Outer
{
    border-color: white;
}

span.ViewSelector a
{
    color: #D10000!important;
}

span.ViewSelector_Hover a
{
    color: black;
}

table.DataView tr td.ViewSelectorLabel
{
    color: #6A7250;
}

table.DataView tr.HeaderTextRow td.HeaderText a.Close
{
    color: black;
}

table.DataView tr.HeaderTextRow td.HeaderText a.Close:hover
{
    color: black;
}

table.DataView tr.InfoRow td
{
    background-color: #FFFFE1;
    border-right-color: silver;
    border-left-color: silver;
    border-bottom: solid 1px silver;
}

table.DataView tr.InfoRow.WithSearchBar td
{
    border-top:none;
}


table.DataView tr.InfoRow td span.Highlight
{
    color: Navy;
}

table.DataView tr.FooterRow td.Footer
{
    border-color: #ACBA82;
}

table.DataView tr.FooterRow td.Footer td.Pager
{
    color: #666666;
}

table.DataView tr.FooterRow td.Footer td.Pager span.Disabled
{
    color: #808080;
}
table.DataView tr.FooterRow td.Footer td.Pager a
{
    color: #D10000;
}

table.DataView tr.FooterRow td.Footer td.Pager a:hover
{
    color: black;
}

table.DataView tr.CategoryRow td.Category
{
    border-top-color: #D8D8D8;
    background-color: White;
}

table.DataView tr.CategoryRow .Category table.Category tr td.HeaderText
{
    color: #525252;
}

table.DataView tr.CategoryRow .Category table.Category tr td.Description
{
    color: #4C4C4C;
}

table.DataView tr.CategoryRow td.Fields
{
    background-color: #F0FFC6;
    border-top-color: #D8D8D8;
}

table.DataView tr.CategoryRow td.Fields div.Header, table.DataView tr.InlineFormRow div.Header
{
    color: #525252;
}

table.DataView tr.CategoryRow td.Fields div.Header span.Required
{
    color: #000000;
}

table.DataView tr.CategoryRow td.Fields div.Item div.Error, table.DataView tr.Row td div.Error, table.DataView tr.AlternatingRow td div.Error, table.DataView tr.InlineFormRow div.Item div.Error
{
    color: red;
}

table.DataView tr.CategoryRow td.Fields div.Item div.Value, table.DataView tr.InlineFormRow div.Item div.Value
{
    color: Black;
}

table.DataView tr.CategoryRow td.Fields div.Item div.Value table.Lookup tr td, table.DataView tr.Row td table.Lookup tr td, table.DataView tr.AlternatingRow td table.Lookup tr td, table.DataViewLookup tr td
{
    border-color: silver;
    background-color: White;
}

table.DataView tr.CategoryRow td.Fields div.Item div.Value a, table.DataView tr.Row td table.Lookup tr td a, table.DataView tr.AlternatingRow td table.Lookup tr td a, table.DataViewLookup tr td a
{
    color: #D10000;
}

table.DataView tr.CategoryRow td.Fields div.Item div.Value a:hover, table.DataView tr.Row td table.Lookup tr td a:hover, table.DataView tr.AlternatingRow td table.Lookup tr td a:hover, table.DataViewLookup tr td a:hover
{
    color: black;
}

.ModalPlaceholder
{
    border-left-color: #A88A86;
    border-right-color: #A88A86;
    border-bottom-color: #A88A86;
    background-color: White;
}

.ModalTop
{
    border-left-color: #A88A86;
    border-right-color: #A88A86;
    border-top-color: #A88A86;
    background-color: White;
}

.RightSideShadow
{
    background-color: Black;
}

.BottomShadow
{
    background-color: black;
}

.ModalPlaceholder .Buttons button
{
    color: Black;
}

table.DataView tr.CategoryRow td.Fields div.Item div.Footer
{
    color: #525252;
}

table.DataView tr.ActionButtonsRow td button
{
    color: Black;
}

table.DataView tr.TopButtonsRow td.ActionButtons table.ActionButtons tr td
{
    color: #696969;
}

table.DataView tr.BottomButtonsRow td.ActionButtons table.ActionButtons tr td
{
    border-top-color:#DFE7F2;
    color: #696969;
}

table.DataView tr.BottomButtonsRow td.RowActionButtons table.ActionButtons tr td
{
    border-bottom-color:#ACBA82;
}

table.DataView tr.TabsRow td.TabsBar
{
    border-bottom-color: #ACBA82;
}

table.DataView tr.TabsRow td.TabsBar td.Tab
{
    background-image: url(TabsInactiveTab.gif);
    border-right-color: #FF934C;
    border-top-color: #FF934C;
}

table.DataView tr.TabsRow td.TabsBar td.Selected
{
    background-image: url(TabsSelectedTab.gif);
    border-top-color: #FF934C;
    border-right-color: #FF934C;
}

table.DataView tr.TabsRow td.TabsBar td.Active
{
    background-image: url(TabsActiveTab.gif);
    border-top-color: #FF934C;
    border-right-color: #FF934C;
}

table.DataView tr.TabsRow td.TabsBar td.Tab span.Outer
{
    border-left-color: white;
    border-top-color: white;
}

table.DataView tr.TabsRow td.TabsBar span.Tab a
{
    color: #6B0000;
}

table.DataView tr.TabsRow td.TabsBar td.Selected span.Tab a
{
    color: #464C26;
}

table.DataView tr.TabsRow td.TabsBar td.Active span.Tab a
{
    color: black;
}

table.DataView tr.TabsRow td.TabsBar table.Tabs
{
    border-left-color: #D1CBCA;
}


.FixedDialog div.FixedTitle
{
    background-color: #ACBA82;
    color: White;
}

span.NA
{
    color: gray;
}

/* tabs */

.TabContainer div.tab-header
{
    border-left-color: #FF934C;
}
.TabContainer .ajax__tab_inner
{
    color: #193B68;
}

.TabContainer .ajax__tab_tab
{
    border-right-color: #FF934C;
    border-top-color: #FF934C;
    background-image: url(TabsInactiveTab.gif);
    border-left-color: white;
    color: #6b0000;
    }

.TabContainer .ajax__tab_active .ajax__tab_inner
{
    color: #464C26;
}
.TabContainer .ajax__tab_active .ajax__tab_tab
{
    background-image: url(TabsSelectedTab.gif);
    border-right-color: #FF934C;
    border-top-color: #FF934C;
    color: #464c26;
}
.TabContainer .ajax__tab_hover .ajax__tab_inner
{
    color: black;
}
.TabContainer .ajax__tab_hover .ajax__tab_tab
{
    background-image: url(TabsActiveTab.gif);
    border-right-color: #E55B00;
    border-top-color: #E55B00;
    color: #000000;
}
.TabContainer .ajax__tab_disabled
{
    color: #A0A0A0;
}
.TabContainer .ajax__tab_panel
{
    border-color: #A88A86;
}


/*****************************************/
/* layout overrides                      */
/*****************************************/

/* page header */

div#PageHeader
{
    background-image: url(PageTitleBkg.gif);
    background-position: top right;
    background-repeat:repeat-y;
}


table#PageBody tr td#PageHeaderSideBar
{
    background-image: url(TabsBar.gif);
    background-color: #CDDD9B;
}

table#PageBody tr td#PageHeaderLeftSide
{
    background-image: url(TabsBar.gif);
    background-color: #CDDD9B;
}
table#PageBody tr td#PageHeaderContent
{
    background-image: url(PageHeader.gif);
    border-left-color: #ACBA82;
    border-right-color: #ACBA82;
}

.HomePage table#PageBody tr td#PageHeaderContent
{
    background-image: url(TabsBar.gif);
    background-color: #CDDD9B;
}

.HomePage table#PageBody tr td#PageHeaderContent div.Header
{
    background-image: url(TopShape.jpg);
}

table#PageBody tr td#PageHeaderRightSide
{
    background-image: url(TabsBar.gif);
    background-color: #CDDD9B;
}

/* site map path */

.SiteMapPath .RootNode, .SiteMapPath .Node
{
    color: #D10000;
}

.SiteMapPath .PathSeparator
{
    color: #666666;
}

.SiteMapPath .CurrentNode
{
    color: #666666;
}

.SiteMapPath a:hover
{
    color: Black;
}

/* page content */

table#PageBody tr td#PageContentSideBar
{
    background-image: url(NavShape.jpg);
    background-color: #ACBA82;
}

table#PageBody tr td#PageContentLeftSide
{
    background-image: url(NavShape.jpg);
    background-color: #ACBA82;
}

table#PageBody tr td#PageContentSideBar div.TaskBox, div.History div.TaskBox
{
    border-top-color: #ACBA82;
    border-left-color: #ACBA82;
    border-right-color: #ACBA82;
    border-bottom-color: #ACBA82;
    background-color: #F2FFCC;
}

table#PageBody tr td#PageContentSideBar div.TaskBox div.Inner, div.History div.TaskBox div.Inner
{
    border-right-color: #ACBA82;
    border-bottom-color: #ACBA82;
}

table#PageBody tr td#PageContentSideBar div.TaskBox div.Header, div.History div.TaskBox div.Header
{
    background-color: #EDFCBF;
    color: #D10000;
    border-left-color: #F2FFCC;
    border-top-color: #F2FFCC;
    border-bottom-color: #D7E8A7;
}

table#PageBody tr td#PageContentSideBar div.TaskBox div.Label, div.History div.TaskBox div.Label
{
    background-color: #EDFCBF;
    color: #D10000;
    border-left-color:#F2FFCC;
    border-top-color: #F2FFCC;
    border-bottom-color: #D7E8A7;
}

table#PageBody tr td#PageContentSideBar div.TaskBox div.Item, div.History div.TaskBox div.Item
{
    background-image: url(bullet.gif);
}

table#PageBody tr td#PageContentSideBar div.TaskBox div.Task, div.History div.TaskBox div.Task
{
    background-image: url(TaskBullet.gif);
}

table#PageBody tr td#PageContentSideBar div.TaskBox div.Task a, div.History div.TaskBox div.Task a
{
    color: #D10000;
}

table#PageBody tr td#PageContentSideBar div.TaskBox div.Selected a, div.History div.TaskBox div.Selected a
{
    color:Black;
}

table#PageBody tr td#PageContentSideBar div.TaskBox div.Summary, div.History div.TaskBox div.Summary
{
    background-image: url(TaskBoxBkg.gif);
    color: #D10000;
    border-left-color:#F2FFCC;
    border-top-color: #F2FFCC;
    border-bottom-color: #D7E8A7;
}

table#PageBody tr td#PageContentSideBar div.TaskBox div.Divider, div.History div.TaskBox div.Divider
{
    background-color: #D7E8A7;
}

table#PageBody tr td#PageContentSideBar div.TaskBox div.Item a, div.History div.TaskBox div.Item a
{
    color: #D10000;
}

table#PageBody tr td#PageContentSideBar div.TaskBox div.Item a:hover, div.History div.TaskBox div.Item a:hover
{
    color: #000000;
}

table#PageBody tr td#PageContent
{
    background-color: white;
    border-left-color: #ACBA82;
    border-right-color: #ACBA82;
    border-bottom-color: #ACBA82;
}

.HomePage table#PageBody tr td#PageContent
{
    border-color:#ACBA82;
}

table#PageBody tr td#PageContentRightSide
{
    background-color: #ACBA82;
    background-image: url(PageContentRightSide.gif);
}

.HomePage table#PageBody tr td#PageContentRightSide
{
    border-left-color: #ACBA82;
}

/* page footer */

table#PageBody tr td#PageFooterSideBar
{
    background-color: #ACBA82;
}

table#PageBody tr td#PageFooterLeftSide
{
    background-color: #ACBA82;
}

table#PageBody tr td#PageFooterContent
{
    background-color: #ACBA82;
}

table#PageBody tr td#PageFooterRightSide
{
    background-color: #ACBA82;
}

/* page footer bar */

div#PageFooterBar
{
    background-color: #ACBA82;
    color: Black;
}

/* menu and tab bar */

div.TabBar
{
    border-bottom-color: #ACBA82;
}

div.TabBody
{
    border-left-color: #ACBA82;
    border-bottom-color: #ACBA82;
    border-right-color: #ACBA82;
}

table.Menu
{
    border-left-color: #FF934C;
}

table.Menu tr td.Item
{
    border-right-color: #FF934C;
    border-top-color: #FF934C;
    background-image: url(TabsInactiveTab.gif);
    border-left-color: white;
}

table.Menu tr td.Selected
{
    background-image: url(TabsSelectedTab.gif);
    border-right-color: #FF934C;
    border-top-color: #FF934C;
}

table.Menu tr td.Menu_Hover
{
    background-image: url(TabsActiveTab.gif);
    border-right-color: #E55B00;
    border-top-color: #E55B00;
    border-left-color: #FFFFFF;
}

table.Menu a.Link
{
    color: #6B0000;
}

table.Menu tr td.Selected a.Link
{
    color: #464C26;
}

table.Menu tr td.Menu_Hover a.Link
{
    color: black;
}

/* site actions menu */

table.SiteActions tr td.Item
{
    background-image: url(SiteActionsInactiveTab.gif);
    border-left-color: #ACBA82;
    border-right-color: #ACBA82;
    border-top-color: #ACBA82;
    border-bottom-color: #6B996B;
}

table.SiteActions a.Link
{
    color: white;
}

table.SiteActions tr td.SiteActions_Hover a.Link
{
    color:#464C26;
}

table.SiteActions tr td.SiteActions_Hover
{
    background-image: url(SiteActionsActiveTab.gif);
    border-right-color: #89724F;
    border-top-color: #89724F;
    border-left-color: #89724F;
    border-bottom-color: #89724F;
}

.CloseSiteAction a
{
    color: black;
}

/* membership */

div.HelpBar div.Title
{
    background-image: url(TopShape.jpg);
}

.MembershipBarPlaceholder
{
    background-color: #F26000!important;
    border-bottom-color: #E9F995!important;
}

table.LoginDialog
{
    border-color: #ACBA82 !important;
    background-color: #E9F995 !important;
}

table.LoginDialogCollapsed
{
    background-color: transparent !important;
    border-color: transparent !important;
}

table.LoginDialogCollapsed, div.HelpLink, div.CultureLink
{
    color: white!important;
}

div.MembershipBar a
{
    color: #6b0000!important;
}

/* page content */

.ParaHeader
{
    color: black;
    background-image: url(ParaHeaderBkg.gif);
    border-color: #CDDD9B;
}

.ParaInfo
{
    color: #4C4C4C;
}

.ParaText
{
    color: #000000;
}

.SettingsPanel, .SearchBarCell
{
    background-image:url(SettingsGraphic.jpg);
}

div.BookmarkBar
{
    color: white !important;
}

div.BookmarkBar a
{
    color: #6b0000 !important;
}

div.BookmarkBar input
{
    border-color: gray;
    color: #808080;
}

.SearchBarCell
{
    border-bottom: solid 1px silver;
}

.AutoCompleteFrame table tr.Active td.Input
{
    border-left-color: #D10000;
    border-top-color: #D10000;
    border-bottom-color: #D10000;
}

.AutoCompleteFrame table tr.Active td.Clear
{
    border-top-color: #D10000;
    border-bottom-color: #D10000;
}
.AutoCompleteFrame table tr.Active td.Button
{
    border-right-color: #D10000;
    border-top-color: #D10000;
    border-bottom-color: #D10000;
}

.AutoCompleteFrame table tr.Active td.Button span.Button
{
     border-left-color: #fff;
}

.SearchBarCell table.FilterValues.Active, .SearchBarCell table.FilterValues.Focused
{
    border-color: #D10000;
}

table.DataSheetType tr.Row td.Cell, table.DataSheetType tr.AlternatingRow td.Cell, table.DataSheetType tr.Selected td.Cell
{
    border-right: solid 1px #C0C0C0;
    border-top: solid 1px #C0C0C0;
    border-bottom-style: none;
}

/* Two-level menu */

div.two-level
{
    border-top-color: #ff934c;
}

div.two-level a
{
    text-decoration: none;
    color: #6b0000!important;
}

div.two-level li.selected.level1, div.two-level li.current.level1, div.two-level li.hover.level1
{
    background-image: url(TopShape.jpg);
}

div.two-level li.level1
{
    border-left-color:#ff934c;
}

div.two-level li.selected.level1.first, div.two-level li.current.level1.first, div.two-level li.hover.level1.first
{
    border-left-color: #ff934c;
}
div.two-level li.selected.level1.last, div.two-level li.current.level1.last, div.two-level li.hover.level1.last
{
    border-right-color: #ff934c;
}

div.two-level div.children.level2
{
    border-color: #acba82;
}

