/*<link rel="stylesheet" href="/css/variables.css" > <!-- الأساس -->
<link rel="stylesheet" href="/css/StyleSheet.themable.css" > <!-- يستبدل الألوان بـ var() -->
<link rel="stylesheet" href="/css/StyleSheet.light.css" > <!-- الثيم النشط -->
*/
@import url('StyleSheetorg.css');


/*StyleSheetorg.css*/
/*@import url('variables.css');*/ /* المتغيرات الأساسية */
/*@import url('StyleSheet.final.css');*/ /* التنسيق الأساسي */
/*@import url('StyleSheet.themable.css');*/ /* نقاط قابلة للتغيير للثيمات */

/*@import url('StyleSheet.idigino.css');*/
/*@import url('StyleSheet.enhancements.css');*/ /* الثيم الحالي */

/*@import url('themes-physical/ai-theme.css');
@import url('StyleSheet.enhancements.ai-theme.css');
@import url('StyleSheet.ui-overrides.ai-theme.css');
*/



