/* .object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }

 */



/*
.login-container {
    width: 100%;
    height: 100%;
    direction: ltr;
    display: flex;

}
*/
/* Small devices (landscape phones, less than 768px) */
/*
@media (max-width: 767.98px) {
    .login-container {
        flex-direction: column;
    }
}
*/
/************************************ left half section ************************************/

/* .leftHalf { */
    /* display: flex; */
    /* flex: 1; */
    /* background-image: url(./assets/img/login-background.jpg); */
    /* background-size: cover; */
	
  /* width: 100%; */
  /* height: auto; */

/* } */

/* aa
.app-bootstrap.app-page-content 
{
    background-size: cover!important;
    background-position: 50% 50%!important;
    background-image:back_10.jpg!important;
    background-repeat:repeat!important;	
    
  }
  /*
/************************************ right half section ************************************/
/*aa
.rightHalf {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    background-color: #ffffff;
}

.rightHalf .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px;
    margin-bottom: 10%;
}
*/
/* Small devices (landscape phones, less than 768px) */
/*aa
@media (max-width: 767.98px) {
    .leftHalf {
        width: 100%;
        height: 40%;
    }

    .rightHalf {
        width: 100%;
        height: 60%;
    }
}
*/
/************************** logo section **************************/
/*aa
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mbs-logo {
    width: 150px;
    margin-top: 15px;
}

.form-container span.logo-description {
    align-self: center;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    cursor: text;
}
*/
/* Small devices (landscape phones, less than 768px) */
/*aa
@media (max-width: 767.98px) {
    .rightHalf .form-container {
        margin-bottom: 20px;
    }

    #mbs-logo {
        width: 130px;
        margin-bottom: 15px;
    }
}
*/
/* Extra small devices (portrait phones, less than 576px) */
/*aa
@media (max-width: 575.98px) {
    .rightHalf .form-container {
        min-width: 280px;
    }

    #mbs-logo {
        width: 110px;
        margin-bottom: 10px;
    }

    .form-container span.logo-description {
        font-size: 12px;
        margin-bottom: 15px;
    }
}
*/

/************************** form section **************************/
/*aa
.form-container form {
    display: flex;
    flex-direction: column;
}

.username,
.password,
.company-name {
    margin-bottom: 15px;
    text-align: center;
}

.company-name {
    margin-bottom: 5px;
}

.input,
.select,
.btn-submit {
    width: 100%;
    padding: 8px;
    color: #495057;
    text-align: center;
    text-align-last: center;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #e5e8eb;
    border-radius: 2px;
}

.select:focus {
    outline-style: none;
}

.input:focus,
.btn-submit:focus {
    border-color: #014B73;
    outline-style: none;
}

.error-message {
    margin-bottom: 2px;
    font-size: 13px;
    color: #9B0000;
    text-align: center;
    display: none;
}

.submit {
    display: flex;
    justify-content: center;
}

.btn-submit {
    cursor: pointer;
    width: auto;
    margin-bottom: 0;
    padding: 7px 14px;
    text-transform: uppercase;
    font-size: 12px;
    border-style: none;
    color: #f8f9fa;
    background-color: #015E90;
}

.btn-submit:hover {
    background-color: #014B73;
}
*/
/* Extra small devices (portrait phones, less than 576px) */
/*aa
@media (max-width: 575.98px) {
    .input {
        padding: 7px;
        font-size: 12px;
    }

    .username,
    .password {
        margin-bottom: 10px;
    }

    .btn-submit {
        padding: 7px 14px;
        font-size: 10px;
    }

    .error-message {
        font-size: 11px;
    }
}

.visible {
    display: block;
}
*/

/************************** spinner section **************************/
/*aa
#spinner-container {
    display: flex;
    justify-content: center;
    margin-top: -8px;
    margin-bottom: 8px;
}
/*
/* Extra small devices (portrait phones, less than 576px) */
/*aa
@media (max-width: 575.98px) {
    #spinner-container {
        margin-top: -5px;
        margin-bottom: 5px;
    }
}

*/


/*-- start a new login design 
*****************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.app-bar-toolbar{
    display: none;
}
.login-Control
{
    height: 100% !important;
    width: 100% !important;
}
.bg-cover{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #0E4D80;
    object-fit: cover;
    object-position: center;
    
}

.login-container{
    width: 100% !important;
    height: 100% !important;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 0 3rem;
    overflow: hidden;
    position: relative;
    z-index: 9999;
    top:0px;
}
/* .left-content{

    
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */
/* .left-content img
{
    width: 550px;
    display: none;
} */
.right-content{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
   
}

.right-content .form
{
    text-align: center;
    min-width: 32%;
    margin: 0rem 4rem;
    background: #ffffff;
    padding: 1rem 2rem;
    box-shadow: 0px 5px 12px #108fc730;
    border-radius: 1rem;
    animation: fadeInLeft 1 .4s 0.5s both linear ;
}
.right-content .form .logo
{
     width: 130px;
     
     /*filter: drop-shadow(-1px 2px 1px #00000055);*/
     
}
.right-content .form .h2
{
    font-size: 1.7rem;
    text-transform: capitalize;
    margin: 0 0 .8rem 0;
    color: #0E4D80;
    letter-spacing: -1px;
    font-weight: 600;
}
.right-content .form .h2 span{color:#F6A589}
.right-content .input-container
{
    position: relative;
    display: grid;
    grid-template-columns: 8% 92%;
    margin: 2rem 0;
    padding: .5rem 0 ;
    border-bottom: 2px solid #dedede;
}
.right-content .input-container::after
{
    content: "";
    position: absolute;
    bottom: -2px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    width:0;
    background: #108fc7;
    transition: all .3s;
}
.right-content .input-container.focus::after
{
    width: 100%;
}

.right-content .input-container.focus .icon i
{
    color: #108fc7 !important ;
}
.right-content .input-container.focus .h5
{
    top: -5px;
    font-size: 15px;
    font-weight: normal;
    color: #108fc7;
}
.right-content .input-container.one
{
    margin-top: 0;
}
.right-content .input-container.two{
    margin-bottom: 5px;
}
.right-content .input-container .icon
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-content .input-container .icon i
{
    color: #dedede;
    font-size: 20px;
    transition: all .3s;
}
.right-content .input-container > div
{
        position: relative;
        height: 60px;
}
.right-content .input-container > div .h5
{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.1rem;
    color: #dedede;
    transition: all .3s;
}
.right-content .input-container > div .form-control
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: .5rem .8rem;
    font-size: 18px;
    color: #585858;
    border: none;
    background: none;
    outline: none;
    font-weight: bold;
}


.right-content .submit .forget-password 
{
    display: block;
    background: none;
    outline: none;
    cursor: pointer;
    border: none;
    font-weight: bold;
    color: #a7a7a7; 
    margin: .8rem 0;
    margin-left: auto;
    transition: all .3s ;
    font-size: 1rem;
}
.right-content .submit .forget-password:hover
{
    color:#108fc7  ;
}

.right-content .submit .btn-submit
{
    margin: 2rem 0 1rem ;
    display: block;
    border-radius: 2rem;
    width: 100%;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    outline: none;
    text-transform: uppercase;
    background-image: linear-gradient(to right ,#0E4D80,#108fc7 ,#239ccf   ) ;
    background-size: 200%;
    color: #f8f9fa;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s;

}
.right-content .submit .btn-submit:hover
{
    background-position: right;

}
/*
.right-content .submit > span
{
    font-weight: bold;
    color: #0E4D80;
}
.right-content .submit .signUp_button
{
    background: none;
    border: none;
    cursor: pointer;
    color: #F6A589;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.5rem;
    display: inline-block;
    margin: 1rem .5rem;
    transition: all .3s;
    outline: 0 !important;
}
.right-content .submit .signUp_button:hover
{
    color: #108fc7;
}
*/


/* start media query 
--------------------*/
@media (max-width : 1200px){

    
    .right-content .form .h2{
        font-size: 1.4rem;
    }
    .right-content .form {
        width: 50%; 
        margin: 2rem 2rem;
    }
}
@media  (max-width : 992px){
    .right-content{

        justify-content: center;  
    }
    .right-content .form .h2{
        font-size: 1.1rem;
    }
    .right-content .form {
        width: 55%;
        opacity: 0.98;  
    }
 
}

@media  (max-width : 768px){

    .right-content .form {
        width: 80%;
        
        border-radius: .5rem;
        opacity: 0.98;  
    }

}
@media  (max-width : 600px){

    .right-content .form {
        width: 100%;
        padding: 2rem;
        margin: 0;
    }
    .our-partners{
        flex-wrap: wrap;
        justify-content: space-between;
    }

}
@media  (max-width : 400px){

    .login-container  {
        padding:  1rem;
    }

}
/* start animatiom 
--------------------*/

@keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    25%{
        opacity: .25;
        transform: translateX(75px);
    }
    50%{
        opacity: .5;
        transform: translateX(50px);
    }
    75%{
        opacity: .75;
        transform: translateX(25px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


















